<tr>
  <td><%= link_to event.user.username, user_path(event.user) %></td>
  <td><%= event.title %></td>
  <td><%= event.venue %></td>
  <td><%= event.start_time %></td>
  <td><%= button_to 'More Details', event_path(event), method: :get, class: "btn btn-info btn-sm" %></td>
  <td><%= button_to "I'm in!", event_attendees_path(event), method: :post, class: "btn btn-primary btn-sm" %></td>
</tr>

