<tr>
  <td><%= event.user.email %></td>
  <td><%= event.title %></td>
  <td><%= event.venue %></td>
  <td><%= event.start_time %></td>
  <td><%= button_to "I'm in", event_attendees_path(event), method: :post %></td>
  <td><%= button_to 'More Details', event_path(event), method: :get %></td>
  <td><%= button_to 'Edit', edit_event_path(event) %></td>
  <td><%= button_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

