<p>
  <strong>Host:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>When:</strong>
  <%= @event.start_time %>
</p>

<table>
  <tr>
    <td><%= button_to "I'm in!", event_attendees_path(@event), method: :post, class: "btn btn-primary btn-sm" %></td>
  </tr>
  <tr>
    <td><%= button_to 'Edit', edit_event_path(@event), method: :get, class: "btn btn-warning btn-sm" %></td>
    <td><%= button_to 'Delete', @event, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>

<%= link_to 'Back', events_path %>
